*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.head-nav{
    padding-left: 20px;
    background-color: white;
}

.log{
    vertical-align: middle;
}
.title{
    display:inline-block;
    vertical-align: top;
    font-size: 40px;
}
body{
    background-color: rgb(246, 248, 249);
}
.container{
    max-width: 900px;
    margin:  40px auto;
    border: 1px solid black;
}

.container-nav{
    background-color: white;
    padding: 10px 30px;
    border-radius: 4px 4px 0 0;
}

.button-nav{
    border-radius: 4px;
    padding:5px;
    font-size: 12px;
}

.task{
    background-color: rgb(62, 176, 238);
    border: none;
    color: white;
}
.section{
    background-color: white;
    border: 1px solid grey;
    color: grey;
}
main{
    background-color: white;
    margin-top: 3px;
}
.ol-primary {
    list-style-type: "&check";
    padding-top: 10px;
    padding-left: 45px;
    margin-top: 4px;
}
.ol-secondary{
    padding:0px;
}
.to-do{
    display: inline;
}
.tag{
    cursor: pointer;
    display: inline;
    background-color: rgb(62, 176, 238);
    padding: 3px;
    border-radius: 10px;
    font-size: 9px;
    color: white;
    font-weight: bold;
    
}
