*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.head-nav{
    padding-left: 20px;
    background-color: white;
}

.log{
    vertical-align: middle;
}
.title{
    display:inline-block;
    vertical-align: top;
    font-size: 40px;
}
body{
    background-color: rgb(246, 248, 249);
}
.container{
    max-width: 900px;
    margin:  40px auto;
}

.container-nav{
    background-color: white;
    padding: 10px 30px;
    border-radius:10px 10px 0 0;
}

.button-nav{
    border-radius: 4px;
    padding:5px;
    font-size: 12px;
}

.task{
    background-color: rgb(62, 176, 238);
    border: none;
    color: white;
}
.section{
    background-color: white;
    border: 1px solid grey;
    color: grey;
}
main{
    background-color: white;
    margin-top: 3px;
    border-radius:0 0 10px 10px;
}
.ol-primary {
    list-style-type:"\25BC";
    padding-top: 10px;
    padding-left: 70px;
    margin-top: 4px;
}
.ol-secondary{
    padding:0px;
}
.to-do{
    display: inline;
}
.tag{
    font-size: 12px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.check{
    list-style-type: "\2713";

}
.cross{
    list-style-type: "\2717";
}
.li-title{
    font-size: 20px;
    font-weight: bold;
}

.blu{
    background-color: rgb(62, 176, 238);
}
.green{
    background-color: rgb(66, 155, 14);
}
.pink{
    background-color: rgb(173, 10, 173);
}
.yellow{
    background-color: rgb(230, 230, 32);
}

